.wrapper {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  background-color: #fcf7f7;
}

.column {
  width: 48%;
  display: flex;
  flex-direction: column;
}

.loader {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  color: #999;
  font-size: 14px;
  clear: both;
}

.backTop {
    position: fixed;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    left: 88%;
    bottom: 7%;
    background-color: #ff9a76;
    z-index: 100;
}

.backTop:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 12px rgba(255, 154, 118, 0.7);
}


.backTop:active {
  transform: translateY(0);
}