.contentBlock {
    border-top: 1px solid rgba(128, 128, 128, 0.194);
    margin: 0 35px;
    padding: 10px 10px;
}

.searchHistoryBlock {
    margin: 0 35px;
}

.searchHistoryTitle {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 10px;
}

.searchHistoryItem {
    margin: 10px 10px;
    border: 0.5px solid rgba(206, 204, 204, 0.384);
    border-radius: 65px;
    padding: 7px 30px;
    display: inline-block;
}

.arrowUp,.arrowDown,.delete{
    top: 8px;
    left:5px;
}
.delete {
    left: 75%;
    font-size: 34px;
}
.closeIcon {
    right: 10px;
}

.searchResultBlock {
    margin: 20px 35px;
    font-size: 28px;
}

.searchResultTitle {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 20px;
}

.searchResultList {
    padding: 0;
}

.searchResultItem {
    padding: 15px 0;
    border-bottom: 1px solid rgba(128, 128, 128, 0.1);
    font-size: 24px;
}

.noResult {
    color: #8a8e99;
    margin-top: 30px;
    text-align: center;
}

.hotTopicsBlock {
    transition: margin-top 0.3s ease;
}

.noMarginTop {
    margin-top: -10px;
}
